body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    width: 15%;
    /* background-color: rgb(168, 198, 226); */
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(212, 255, 0);
}

.container {
    margin-top: -36%;
    margin-left: -20%;
    border: 2px solid rgb(0, 0, 0);
    width: 147%;
    height: 730px;
}

.container-txt {
    margin-top: -11%;
    padding: 20%;
    margin-left: 2%;
}


.header {
    margin-left: 8%;
    margin-bottom: 15%;
    font-size: 12.5px;
    color: rgb(38, 43, 48);
}

input {
    margin-top: 4%;
}

.label-nama {
    width: 228px;
    height: 26px;
}

.label-nim {
    width: 228px;
    height: 26px;
}

.label-box {
    margin-top: -0.8%;
    margin-bottom: 6%;
}

.date-time {
    margin-bottom: 10%;
}

textarea {
    margin-top: 6%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: black;
}

.back {
    margin: 0 auto;
    /* margin-left: 11%; */
    background-color: rgb(255, 255, 255);
    color: rgb(77, 74, 74);
    text-decoration: none;
    width: 241px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
}

.back:hover {
    z-index: 1;
    box-shadow: 0 40px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 20px;
    margin: 10px;
    color: white;
}

.button-container .button i {
    margin-right: 5px;
}